@import "../utilities/Variables.scss";

.cursor {
  position: fixed;
  pointer-events: none;
  background-color: transparent;
  mix-blend-mode: difference;
  border-radius: 50%;
  border: 2px solid $green;
  transition: 0.25s cubic-bezier(0.2, 0.6, 0.8, 1), width 0.15s linear,
    height 0.15s linear, background-color 0.15s linear;
  z-index: 999999;
}

.cursor_small {
  position: fixed;
  pointer-events: none;
  background-color: $green;
  mix-blend-mode: difference;
  border-radius: 50%;
  transition: 0.025s linear, width 0.15s linear, height 0.15s linear;
  z-index: 999999;
}

.hovering {
  background: $green;
  border: 2px solid $green;
}

.clickBig {
  animation: doClickBig 0.3s forwards;
}

@keyframes doClickBig {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.5);
    background: $green;
    border: 2px solid $green;
  }

  66% {
    transform: scale(0.5);
    background: $green;
    border: 2px solid $green;
  }

  100% {
    transform: scale(1);
  }
}

.clickSmall {
  animation: doClickSmall 0.3s forwards;
}

@keyframes doClickSmall {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0);
  }

  66% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
