@import "../utilities/Variables.scss";

.main {
  width: 100%;
  max-width: 1080px;
  color: $green;
  text-align: center;
  z-index: 1;
}

.text {
  font-weight: 300;
  font-size: $span;
}

.link_parent{

   &:hover {
      .finger {
         opacity: 1;
      }
   }
}

.link {
  font-weight: 600;
  text-decoration: underline;
  color: $green;
}

.finger {
  opacity: 0;
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  .finger{
    display: none;
  }

.text{
  font-size: $mobile_span;
}
}