//FONTS

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
$font-texts: "Inter", sans-serif;
$font-titles: "Syne";

//COLOR PALETTE

$blue: #020b55;
$bluehv: rgba(23, 36, 139, 0.763);
$blueop: #020c556b;
$green: #3aff49;
$greenop2: #3aff4a72;
$greenhv: #aeffb4;
$greenop: rgba(174, 255, 179, 0.743);

//FONT SIZES

$menu_keys: calc(1.2rem + 1vw);
$menu_toggle: calc(1.6rem + 2vw);
$h1: calc(3rem + 3.4vw);
$h2: calc(2.8rem + 1vw);
$h3: calc(2rem + 0.8vw);
$h3_smaller: calc(1.6rem + 0.6vw);
$h4: calc(1rem + 0.4vw);
$h5: calc(1.6rem + 0.2vw);
$h6: calc(1.2rem + 0.6vh);
$big_p: calc(0.8rem + 0.5vw);
$p: calc(0.6rem + 0.4vw);
$span: 1rem;
$tags: 0.85rem;

//MOBILE FONT SIZES

//LESS THAN 900PX

$mobile_h1_900: calc(2.5em + 2.5vw);

//LESS THAN 400PX

$mobile_h1_450: calc(2em + 1.5vw);
$mobile_h2: calc(2.5rem + 0.6vw);
$mobile_h3: 1.4rem;
$mobile_h4_450: 1rem;
$mobile_h5: 1.8rem;
$mobile_p: 1.15rem;
$mobile_span: 1.25rem;
