@import "./utilities/Variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  color: white;
  flex: 1 0 auto;
  width: 100%;
  max-width: 100vw;
  padding-top: calc(1em + 2em + 1.4rem + 1vw + 0.2em);

  flex: 1;
  flex-grow: 1;

  overflow-x: hidden;
}

//SECTION 1

.home_section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100vw;
  max-width: 100vw;
  height: calc(100vh - (1em + 2em + 1.4rem + 1vw + 0.2em));
  margin-top: calc(-1 * ((3em + 4vw) / 3));
  padding-bottom: calc((3em + 4vw) / 3);

  overflow: hidden;
}

.title_parent,
.title_parent2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title_parent {
  flex-direction: column;
  max-width: 100vw;
  margin: 0 2em 0 2em;
}

.title_parent2 {
  column-gap: 2em;
}

.home_title {
  font-weight: 800;
  font-size: $h1;
  text-align: center;
  color: $green;
  max-width: 1080px;
  padding: 0;
  margin: 0;
  padding-bottom: 2vh;
}

.home_subtitle {
  font-size: $h4;
  text-align: center;
  color: $green;
  font-weight: 600;
  max-width: 800px;
  padding: 0;
  margin: 0;
}

.animate_titleY {
  font-weight: 800;
  animation: animateTitleY 1.25s;
}

.animate_titleX {
  font-weight: 800;
  animation: animateTitleX 1.25s;
}

.animate_titleX2 {
  font-weight: 800;
  animation: animateTitleX2 1.25s;
}

.animate_subtitle {
  animation: animateSubtitle 1.25s;
}

@keyframes animateTitleY {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateTitleX {
  0% {
    opacity: 0;
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animateTitleX2 {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animateSubtitle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//SECTION 2

.home_section_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  max-width: 1080px;
  padding: 4% 4% 12% 4%;
  color: $green;
  gap: 20px;

  .subtitle_part2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: $h3;
    font-weight: 800;
    padding: 0 0.6em;
  }

  .p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: $big_p;
    font-weight: 400;
    padding-bottom: 0.8em;
  }
}

.best_parent {
  width: 100%;
  display: grid;
  align-items: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

//SECTION 3

.home_section_3 {
  min-height: 100vh;
  width: 100%;
  max-width: 1080px;
  padding-top: 15vh;

  color: $green;
}

.highlight_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
  padding: 0 3%;

  .h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: $h3;
    font-weight: 800;
    padding: 0 0.6em;
  }

  .p {
    margin: 0;
    padding: 0;
    font-size: $big_p;
    font-weight: 400;
    padding-bottom: 0.8em;
  }
}

//SECTION 4

.home_section_4 {
  min-height: 70vh;
  width: 92%;
  padding: 4%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $green;
  gap: 20px;

  .section4_title {
    text-align: center;
    font-weight: 600;
    font-size: $h2;
    margin: 0;
    padding: 0;
  }

  .section4_subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: $big_p;
    font-weight: 400;
    padding-bottom: 0.8em;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 601px) {
  .highlight_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :nth-child(1) {
      flex-direction: row;
      * {
        display: flex;
        flex-direction: column;
      }
    }

    :nth-child(2) {
      flex-direction: row-reverse;
      * {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

//RESPONSIVE

@media only screen and (max-width: 900px) {
  .home_subtitle {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  .home_title {
    font-size: $mobile_h1_900;
  }
}

@media only screen and (max-width: 375px) {
  .home_title {
    font-size: $mobile_h1_450;
  }

  .home_subtitle {
    font-size: $mobile_h4_450;
  }
}
